doctype html
html
  head
    title Rvg Voting App
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/css/main.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
  body
    #header
      .container
        .row
          .col-xs-3
            #logo
              a(href="/pools") Rvg Voting App
          #nav.col-xs-7
            ul
              li
                a(href="/pools") Pools

          if (user)
            #info-user.col-xs-2
              span #{ user.local.email }

    #content.container
      if message && message.length > 0
        div(role="alert").alert.alert-success
          strong Well done! 
          span #{message}

      block content

    script(src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript")