doctype html
html
  head
    title Signin form
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  body
    div.container
      h1 Sign in form
      form(action="/signin", method="POST")
        div.form-group
          input(type="text", placeholder="Name", class="form-control" name="name")
        div.form-group
          input(type="password", placeholder="Password", class="form-control", name="password")
        div.form-group
          input(type="submit", name="Submit", class="btn btn-default")