extends ../app
block content
  #form-container
    form(action="/pool/#{poolId}/options/new", method="POST")
      div.form-group
        <label>Title</label>
        input(type="text", placeholder="Title", class="form-control" name="title")

      div.form-group
        input(type="submit", name="Submit", class="btn btn-default")