extends ../app
block content
  h1 Pools

  if pools.length > 0
    ul
      each pool in pools
        li 
          a(href="/pool/#{ pool.slug_title }") #{ pool.title }
  else
    div.alert.alert-info
      span No pools to show

  if (user)
    a.btn.btn-default(href="/pools/new") New Pool 
